pdf/lab1.pdf filter=lfs diff=lfs merge=lfs -text
pdf/lab2.pdf filter=lfs diff=lfs merge=lfs -text
pdf/formula.pdf filter=lfs diff=lfs merge=lfs -text
lab3/img/part1_1.png filter=lfs diff=lfs merge=lfs -text
lab3/img/part1_2.png filter=lfs diff=lfs merge=lfs -text
pdf/lab3.pdf filter=lfs diff=lfs merge=lfs -text
./lab1/img/foAnalResponse1.pdf filter=lfs diff=lfs merge=lfs -text
./lab1/img/foAnalResponse.pdf filter=lfs diff=lfs merge=lfs -text
./lab1/img/seAnalResponse.pdf filter=lfs diff=lfs merge=lfs -text
./lab2/img/sinWaves.pdf filter=lfs diff=lfs merge=lfs -text
./lab2/img/sqrWave.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt2_200Hz.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt2_80Hz.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt3.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt4_1.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt4_2.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/part1_1.png filter=lfs diff=lfs merge=lfs -text
./lab3/img/part1_2.png filter=lfs diff=lfs merge=lfs -text
./formula/img/constants.jpg filter=lfs diff=lfs merge=lfs -text
./formula/img/dataAnalysis.jpg filter=lfs diff=lfs merge=lfs -text
./lab1/img/foCircuit.jpg filter=lfs diff=lfs merge=lfs -text
./lab1/img/seCircuit.jpg filter=lfs diff=lfs merge=lfs -text
pdf/finalReportComments.pdf filter=lfs diff=lfs merge=lfs -text
pdf/finalReport.pdf filter=lfs diff=lfs merge=lfs -text
pdf/finalReportPt1.pdf filter=lfs diff=lfs merge=lfs -text
finalReport/img/example.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/addNoiseFeedbackc.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/addNoiseFeedbackd.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/addNoiseFeedbackp.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinalc.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald10.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald11.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald12.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald13.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald14.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald15.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald16.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald1.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald2.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald3.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald4.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald5.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald6.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald7.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald8.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald9.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinald.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/labviewFinalp.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/noise1.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/noise2.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/noise3.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidConsts.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidController.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidParams.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidTune1.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidTune2.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/finalBlockDiagram.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/frontPanel.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/noise1.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/noise2.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/noise3.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidConsts.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidController.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidParams.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidTune1.png filter=lfs diff=lfs merge=lfs -text
labviewProj/img/reportImages/pidTune2.png filter=lfs diff=lfs merge=lfs -text
