pdf/lab1.pdf filter=lfs diff=lfs merge=lfs -text
pdf/lab2.pdf filter=lfs diff=lfs merge=lfs -text
pdf/formula.pdf filter=lfs diff=lfs merge=lfs -text
lab3/img/part1_1.png filter=lfs diff=lfs merge=lfs -text
lab3/img/part1_2.png filter=lfs diff=lfs merge=lfs -text
pdf/lab3.pdf filter=lfs diff=lfs merge=lfs -text
./lab1/img/foAnalResponse1.pdf filter=lfs diff=lfs merge=lfs -text
./lab1/img/foAnalResponse.pdf filter=lfs diff=lfs merge=lfs -text
./lab1/img/seAnalResponse.pdf filter=lfs diff=lfs merge=lfs -text
./lab2/img/sinWaves.pdf filter=lfs diff=lfs merge=lfs -text
./lab2/img/sqrWave.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt2_200Hz.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt2_80Hz.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt3.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt4_1.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/pt4_2.pdf filter=lfs diff=lfs merge=lfs -text
./lab3/img/part1_1.png filter=lfs diff=lfs merge=lfs -text
./lab3/img/part1_2.png filter=lfs diff=lfs merge=lfs -text
./formula/img/constants.jpg filter=lfs diff=lfs merge=lfs -text
./formula/img/dataAnalysis.jpg filter=lfs diff=lfs merge=lfs -text
./lab1/img/foCircuit.jpg filter=lfs diff=lfs merge=lfs -text
./lab1/img/seCircuit.jpg filter=lfs diff=lfs merge=lfs -text
